In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/installations-production-elec-gaz.csv", sep=";")

In [3]:
df.head()

,1_f_commune_pdl,count,date_des_donnees,code_epci,s_3_prod_i_regime_d_exploitation,s_3_prod_d_filiere,coordonnees,1_f_code_insee_pdl
0,Mazan,1,2020-03,248400053,NaN,Éolien,"44.0545320098,5.13048600927",84072
1,Mazangé,14,2020-03,200072072,Realised,Solaire,"47.8402255423,0.948834044312",41131
2,Méneslies,2,2018-12,200070944,NaN,Solaire,"50.0580071022,1.49366891391",80527
3,Mazaugues,26,2020-03,200068104,Realised,Solaire,"43.3448761166,5.89589582308",83076
4,Ménesplet,24,2018-12,200040384,Realised,Solaire,"45.0036275997,0.10542960424",24264